<div class="wrapper-sidebar">
    <div class="sidebar" style="background-color: #2F4050;">
        <h2>Sidebar</h2>
        <ul style="padding: 0;">
            <li (click)="redirectTo('dashboard/supervisor')"><a><i class="fas fa-home"></i>Agentes</a></li>
            <li (click)="redirectTo('dashboard/supervisor/aereopuertos')"><a><i class="fas fa-home"></i>Aereopuertos</a>
            </li>
            <li (click)="redirectTo('dashboard/supervisor/vuelos')"><a><i class="fas fa-home"></i>Vuelos</a></li>
        </ul>
    </div>
    <div class="main_content">
        <app-topnavbar></app-topnavbar>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2 class="mt-4">Concepto de Aereopuerto</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a>Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>Concepto de Aereopuerto</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>{{title}} aereopuerto</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{title}} nuevo aereopuerto
                            </h5>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form role="form" [formGroup]="airportForm">
                                        <div class="form-group"><label>Nombre del aereopuerto</label> <input
                                                type="email" formControlName="airport_name"
                                                placeholder="Ingresar nombre del aereopuerto" class="form-control">
                                        </div>
                                        <p style="color: red" class="error" *ngIf="
                                            airportForm.get('airport_name')?.errors &&
                                            (airportForm.get('airport_name')?.touched || airportForm.get('airport_name')?.dirty)
                                          ">
                                            Por favor, escriba el nombre del aereopuerto
                                        </p>
                                        <div class="form-group mt-3"><label>Localización</label> <input type="text"
                                                formControlName="airport_location" placeholder="Ingresar dirección"
                                                class="form-control"></div>
                                        <p style="color: red" class="error" *ngIf="
                                            airportForm.get('airport_location')?.errors &&
                                            (airportForm.get('airport_location')?.touched || airportForm.get('airport_location')?.dirty)
                                          ">
                                            Por favor, escriba la locación del aereopuerto
                                        </p>
                                        <div class="form-group mt-3"><label>Detalles</label> <input type="text"
                                                formControlName="other_details" placeholder="Ingresar descripción"
                                                class="form-control"></div>
                                        <p style="color: red" class="error" *ngIf="
                                            airportForm.get('other_details')?.errors &&
                                            (airportForm.get('other_details')?.touched || airportForm.get('other_details')?.dirty)
                                          ">
                                            Por favor, escriba alguna descripción
                                        </p>
                                    </form>
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" style="float: right;"
                                        type="submit" (click)="createAirport()"><strong>Guardar</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>