<div class="row wrapper border-bottom white-bg page-heading ml-1">
    <div class="col-lg-12">
        <h2 class="mt-4">Concepto de Pago</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a>Concepto de Pago</a>
            </li>
            <li class="breadcrumb-item">
                <a>Pagar</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Escoge métodos de pago</h2>
                    <h5>Información detallada de nuestra tarjeta</h5>
                    <br>
                </div>
                <div class="ibox-content">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-lg-7 mx-auto">
                                <div class="bg-light rounded-lg shadow-sm p-5">
                                    <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                                        <li class="nav-item">
                                            <a data-toggle="pill" (click)="changeOption(0)"
                                                class="nav-link rounded-pill" [ngClass]="{active:options==0}">
                                                <i class="fa fa-credit-card"></i>
                                                Tarjeta
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a data-toggle="pill" (click)="changeOption(1)"
                                                class="nav-link rounded-pill" [ngClass]="{active:options==1}">
                                                <i class="fa fa-paypal"></i>
                                                Paypal
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a data-toggle="pill" (click)="changeOption(2)"
                                                class="nav-link rounded-pill" [ngClass]="{active:options==2}">
                                                <i class="fa fa-university"></i>
                                                Transferencia bancaria
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="nav-tab-card" class="tab-pane fade show active" *ngIf="options==0">
                                            <p class="alert alert-success">Advertencia</p>
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="username">Nombre del titular</label>
                                                    <input type="text" name="username" placeholder="Ingresar nombre"
                                                        required class="form-control">
                                                </div>
                                                <div class="form- mt-3">
                                                    <label for="cardNumber">Número de tarjeta</label>
                                                    <div class="input-group">
                                                        <input type="text" name="cardNumber"
                                                            placeholder="Ingresar tarjeta" class="form-control"
                                                            required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text text-muted">
                                                                <i class="fa fa-cc-visa mx-1"></i>
                                                                <i class="fa fa-cc-amex mx-1"></i>
                                                                <i class="fa fa-cc-mastercard mx-1"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group mt-3">
                                                            <label><span class="hidden-xs">Fecha de
                                                                    expiración</span></label>
                                                            <div class="input-group">
                                                                <input type="number" placeholder="MM" name=""
                                                                    class="form-control" required>
                                                                <input type="number" placeholder="YY" name=""
                                                                    class="form-control" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 mt-3">
                                                        <div class="form-group mb-4">
                                                            <label
                                                                title="Three-digits code on the back of your card">CVV
                                                                <i class="fa fa-question-circle"></i>
                                                            </label>
                                                            <input type="text" required class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                    class="subscribe btn btn-primary btn-block rounded-pill shadow-sm mt-3"
                                                    (click)="pay()">
                                                    Confirmar </button>
                                            </form>
                                        </div>
                                        <div id="nav-tab-paypal" class="tab-pane fade show active" *ngIf="options==1">
                                            <p class="mt-5">Paypal, la mejor manera de pagar online</p>
                                            <p>
                                                <button type="button" class="btn btn-primary rounded-pill"><i
                                                        class="fa fa-paypal mr-2"></i>
                                                    Iniciar sesión en paypal</button>
                                            </p>
                                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit,
                                                sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div id="nav-tab-bank" class="tab-pane fade show active" *ngIf="options==2">
                                            <h6 class="mt-5">Detalle de la cuenta a transferir</h6>
                                            <dl>
                                                <dt>Banco</dt>
                                                <dd>Interbank</dd>
                                            </dl>
                                            <dl>
                                                <dt>Número de cuenta</dt>
                                                <dd>7775877975</dd>
                                            </dl>
                                            <dl>
                                                <dt>Número de cuenta interbancaria</dt>
                                                <dd>CZ7775877975656</dd>
                                            </dl>
                                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit,
                                                sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>